@tailwind base;
@tailwind components;
@tailwind utilities;

.q-input input[type=number]::-webkit-inner-spin-button, 
.q-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.q-field__native[type=number] {
  -moz-appearance: textfield; /* Firefox */
}